@import url(./assets/css/main.css);
body {
  background: #fef9ed;
  font-family: Objective !important;
  font-weight: 400;
}
.bodyDemiBold {
  font-weight: 600;
  font-size: 14px;
}

.border-error {
  border-color: #cc3115 !important
  ;
}
